.about-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 4rem 2rem;
    background-color: #e3f0f1;
    gap: 3rem;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}

.about-content {
    color: #333;
    max-width: 90%;
    display: flex;
    margin: 20px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about {
    padding: 0px 20px;
}

.about-content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #193a76;
    margin-bottom: 1.5rem;
}

.about-content p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.about-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1000px) {
    .about-image {
        display: none;
    }
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the container */
    border-radius: 10px;
    /* Optional for rounded corners */
}


.about-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.about-services {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    max-width: 90%;
}

.about-services h3 {
    font-size: 2.5rem;
    color: #193a76;
    margin-bottom: 2rem;
    font-weight: bold;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.service-item {
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item h4 {
    font-size: 1.5rem;
    color: #333;
    margin: 1rem 0;
}

.service-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.about-vision-mission {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.about-vision-mission h3 {
    font-size: 2.5rem;
    color: #193a76;
    margin-bottom: 1rem;
    font-weight: bold;
}

.about-vision-mission p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .about-content { 
        text-align: center;
    }

    /* .about-vision-mission {
        width: 100%;
    } */

    .service-grid {
        grid-template-columns: 1fr;
    }

    .service-item {
        margin-bottom: 1rem;
    }

    .about-content h2 {
        font-size: 2.5rem;
    }

    .about-content p {
        font-size: 1.1rem;
    }

    .about-image img {
        border-radius: 8px;
    }

    .service-item {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .about-content h2 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1rem;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .service-item {
        padding: 1rem;
    }
}