.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    background: #193a76;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 15;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #66FCF1;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    display: grid;
    padding: 20px;
}

.navbar .logo img {
    height: 55px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 0;
    margin: 0;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 5px;
    border-radius: 3px;
}

.navbar .nav-links li a:hover {
    color: #193a76;
    transform: scale(1.1);
    background-color: white;
}

.navbar .login {
    background-color: white;
    color: #193a76;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-signup {
    padding: 0px 20px;
}

.profileImage {
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.navbar .login:hover {
    background-color: #193a76;
    border: 1px solid white;
    color: white;
    transform: scale(1.05);
}

.navbar .menu-toggle {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

@media (max-width:900px) {
    .navbar .nav-links {
        gap: 40px;
    }
}

/* Show the Hamburger Icon on Mobile */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        /* right: 20px; */
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        padding: 15px;
        /* border-radius: 10px; */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .navbar .menu-toggle {
        display: block;
        margin-right: 15px;
    }

    .navbar .nav-links li {
        text-align: center;
        margin: 15px 0;
    }

    .navbar .logo {
        font-size: 1.8rem;
    }

    .navbar .login {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width:400px) {
    .login-signup {
        padding: 0px 0px;
    }

    .navbar .logo {
        padding: 0px;
    }

    .profileImage {
        width: 40px;
    }
}