.top-rated-services {
    padding-top: 100px;
    background-color: #e3f0f1;
    margin-bottom: 50px;
}

.top-rated-services h2 {
    text-align: center;
    color: hsl(219, 65%, 28%);
    font-size: 40px;
    gap: 13px;
}

@media (max-width:610px) {
    .top-rated-services h2 {
        font-size: 30px;
    }
}

.services-grid {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 3rem;
    padding: 20px 200px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* justify-content: center; */
    align-items: center;
}

.services-grid::-webkit-scrollbar {
    display: none;
}

.service-block {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
    /* min-width: 180px; */
    max-width: 280px;
}

.service-block:hover {
    transform: scale(1.05);
}

.service-block img {
    width: -webkit-fill-available;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
}

.service-block h3 {
    font-size: 25px;
    margin: 10px 0;
    color: #193a76;
}

.service-block p {
    font-size: 15px;
    color: #666;
    margin: 10px;
}

.swipe {
    display: none;
    text-align: center;
    color: gray;
}

@media (max-width:1440px) {
    .swipe {
        display: block;
    }
}